.flight-table
{
    width: 100%;
    border-collapse: collapse;
}

.flight-table__header
{
    border: 1px solid #bbb;
    border-width: 1px 0;
}

.flight-table__column-title
{
    padding: 10px;
    text-align: left;
}

.flight-table__add
{
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 1px solid #bbb;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    color: #aaa;
}

.flight-table__add:hover
{
    border-color: #888;
    color: #888;
}

.flight-table__counter
{
    text-align: center;
}