.flight-type-changer
{
    display: inline-block;
}

.flight-type-changer__button
{
    border: none;
    background: none;
    padding: 10px 25px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.flight-type-changer__button_active
{
    background: #ffd700;
    border: 1px solid #ffd700;
    border-bottom: 0;
}

.flight-type-changer__button:hover
{
    background: rgb(255, 230, 106);
    border: 1px solid rgb(255, 230, 106);
    border-bottom: 0;
}