.flight-row
{
    border: 1px solid #bbb;
    border-width: 1px 0;
}

.flight-row:nth-child(2n)
{
    background: #ddd;
}

.flight-row:hover
{
    background: #aaa;
}

.flight-row__cell
{
    padding: 10px;
}

.flight-row__edit
{
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 1px solid #bbb;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    color: #bbb;
}

.flight-row__edit:hover
{
    border-color: #888;
    color: #888;
}