.flight-editor__label
{
    display: block;
    margin: 10px;
    margin-left: 0;
}

.flight-editor__input
{
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.flight-editor__button
{
    margin: 5px;
    font-size: 16px;
    padding: 10px 15px;
    background: #27ae60;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.flight-editor__button:hover
{
    background: #2ecc71;
    cursor: pointer;
}

.button_remove
{
    background: #c0392b;
}

.button_remove:hover
{
    background: #e74c3c;
}